<div style="border: 40px solid rgba(0, 0, 0, 0.9);"></div>

<div class="paginaLogin" style="paginaLogin">
    <div class="card cardLogin card-admin">
        <img src="./imgs/zizimed_logo.png" class="card-img-top">
        <p style="margin-left: 40px;margin-bottom: 15px;padding-bottom:0px;"> Olá 
            {{#if session}}
                {{session.nome}}
            {{/if}}
        </p>
        <div class="card-body">
            <nav class="nav flex-column">
                <a class="nav-link" href="/cadastrar-funcionario">Cadastrar funcionários da clínica</a>
                <a class="nav-link" href="/cadastrar-paciente">Cadastrar pacientes</a>
                <a class="nav-link" href="/listar-funcionarios">Listar funcionários cadastrados</a>
                <a class="nav-link" href="/listar-pacientes">Listar pacientes cadastrados</a>
                <a class="nav-link" href="/listar-enderecos">Listar endereços cadastrados</a>
                <a class="nav-link" href="/listar-todas-consultas">Listar agendamentos de consultas</a>
                {{#if session.isDoctor}}
                    <a class="nav-link" href="/listar-consultas">Listar suas consultas agendadas</a>
                {{/if}}
            </nav>
            <a href="/logout"><button type="button" class="btn btn-primary" style="margin: 30px 15px;">Sair</button></a>
        </div>
    </div>

</div>

<style>
    .paginaLogin {
        background-image: url("./imgs/loginPhoto.jpg");
        min-height: 700px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 0px;
    }

    .cardLogin {
        margin: 0px;
        position: absolute;
        top: 20%;
        left: 28%;
        margin-right: -50%;
        min-width: 600px;
        width: 18rem;
        background-color: rgba(10, 23, 55, 0);
        border: 0px;
        font-size: large;
    }

    .paginaLogin img {
        max-height: 100px;
        max-width: 100px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card-admin{
        background: white;
        border-radius: 20px;
    }
</style>