<div style="margin-bottom: 0px;border: 40px solid rgba(0, 0, 0, 0.9);"></div>

<div style="padding: 25px;">
    {{#if sucess}}
    <div class="alert alert-success" role="alert" style="margin-top: 25px;margin-bottom: 25px">
        Funcionário cadastrado com sucesso!
    </div>
    {{/if}}
    <form action="/add-funcionario" method="POST" style="margin-bottom: 0px;">
        <h3>Cadastro de Funcionário</h3>
        <div class="mb-3">
            <label class="form-label">Informe o nome do funcionário</label>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o telefone do funcionario</label>
            <input type="text" class="form-control" name="telefone">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o email do funcionário</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o CEP do funcionário</label>
            <input type="text" class="form-control" name="cep">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o logradouro do funcionário</label>
            <input type="text" class="form-control" name="logradouro">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o bairro do funcionário</label>
            <input type="text" class="form-control" name="bairro">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe a cidade do funcionário</label>
            <input type="text" class="form-control" name="cidade">
        </div>
        <div class="mb-3">
            <label class="form-label">Selecione o estado do funcionário</label>
            <select class="form-select" name="estado">
                <option value="AC" selected>Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Informe a data de contrato do funcionário</label>
            <input type="date" class="form-control" name="data_contrato">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe o salario do funcionário</label>
            <input type="number" class="form-control" name="salario">
        </div>
        <div class="mb-3">
            <label class="form-label">Informe a senha do funcionário</label>
            <input type="password" class="form-control" name="senha">
        </div>
        <div class="divPai">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/admin"><button type="button" class="btn btn-dark">Voltar</button></a>
        </div>
    </form>
</div>

<style>
    .divPai {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>