<div style="margin-bottom: 5px;border: 40px solid rgba(0, 0, 0, 0.9);"></div>

<div style="padding: 25px;">
    {{#if sucess}}
    <div class="alert alert-success" role="alert" style="margin-top: 25px;margin-bottom: 25px">
        Endereço cadastrado com sucesso!
    </div>
    {{/if}}
    <form action="/add-endereco" method="POST">
        <h3>Cadastre o novo endereço aqui</h3>
        <div class="mb-3">
            <label for="usercep" class="form-label">Digite o CEP</label>
            <input type="text" class="form-control" id="usercep" name="cep" aria-describedby="usercep">
            <div id="usercep" class="form-text">Digite apenas os digitos do cep, sem pontuações.</div>
        </div>
        <div class="mb-3">
            <label for="userlogradouro" class="form-label">Digite o logradouro</label>
            <input type="text" class="form-control" id="userlogradouro" name="logradouro"
                aria-describedby="userlogradouro">
            <div id="userlogradouro" class="form-text">Exemplo: Rua Amélia Torres, Avenida Teresa Cristina.</div>
        </div>
        <div class="mb-3">
            <label for="userbairro" class="form-label">Digite o bairro</label>
            <input type="text" class="form-control" id="userbairro" name="bairro">
        </div>
        <div class="mb-3">
            <label for="usercidade" class="form-label">Informe a cidade</label>
            <input type="text" class="form-control" id="usercidade" name="cidade">
        </div>
        <div class="mb-3">
            <label class="form-label">Selecione o estado</label>
            <select class="form-select" name="estado">
                <option value="AC" selected>Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
        </div>
        <div class="divPai">
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a href="/"><button type="button" class="btn btn-dark">Voltar</button></a>
        </div>
    </form>
</div>

<style>
    .divPai {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
</style>