<div style="margin-bottom: 20px;border: 40px solid rgba(0, 0, 0, 0.9);"></div>
<section class="page-section bg-light" id="clinicas">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nossas clinicas</h2>
            <h3 class="section-subheading text-muted">Somos a maior rede médica do Brasil e temos clinicas em todos os
                estados. Encontre aqui a mais próxima de você!</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica1.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade de Belo Horizonte</div>
                        <div class="portfolio-caption-subheading text-muted">Av. Cristiano Machado, 1235, Belo
                            Horizonte, 34652-652</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica2.png" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade São Paulo</div>
                        <div class="portfolio-caption-subheading text-muted">Av. Manuel Bandeira, 365, São Paulo,
                            65985-652</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica3.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade Rio de Janeiro</div>
                        <div class="portfolio-caption-subheading text-muted">Rua El salvado, 3265, Ipanema, 65985-652
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica4.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade Salvador</div>
                        <div class="portfolio-caption-subheading text-muted">Ipitarangu, 324, Salvador, 65325-421</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica5.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade Ceará</div>
                        <div class="portfolio-caption-subheading text-muted">Rua Rio nilo, 321, Itamarati, 32561-562
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="../imgs/clinica6.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Unidade Rio Grande do Sul</div>
                        <div class="portfolio-caption-subheading text-muted">Av. São Cebastião, 3256, Porto alegue,
                            35214-874</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Modals-->
<!-- Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade de Belo Horizonte</h2>
                            <p class="item-intro text-muted">Clinica especializada em exames cardiacos e neurológicos
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica1.jpg" alt="" />
                            <p>Av. Cristiano Machado, 1235, Belo Horizonte, 34652-652</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade São Paulo</h2>
                            <p class="item-intro text-muted">Clinica especializada em exames toxicológicos, endócrinos e neurológicos
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica2.png" alt="" />
                            <p>Av. Manuel Bandeira, 365, São Paulo, 65985-652</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade Rio de Janeiro</h2>
                            <p class="item-intro text-muted">Clinica especializada em exames toxicológicos.
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica3.jpg" alt="" />
                            <p>Rua El salvado, 3265, Ipanema, 65985-652</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade Salvador</h2>
                            <p class="item-intro text-muted">Clinica especializada em exames cardiacos e neurológicos
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica4.jpg" alt="" />
                            <p>Ipitarangu, 324, Salvador, 65325-421</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade Ceará</h2>
                            <p class="item-intro text-muted">Clinica com tecnologias de ponta em exames neurológicos, sendo refência na América Latina.
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica5.jpg" alt="" />
                            <p>Rua Rio nilo, 321, Itamarati, 32561-562</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal"><img src="../imgs/close-icon.svg" alt="X" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project Details Go Here-->
                            <h2 class="text-uppercase">Unidade Rio Grande do Sul</h2>
                            <p class="item-intro text-muted">Clinica especializada em exames cardiacos e neurológicos
                            </p>
                            <img class="img-fluid d-block mx-auto" src="../imgs/clinica6.jpg" alt="" />
                            <p>Av. São Cebastião, 3256, Porto alegue, 35214-874</p>
                            <p>Exames realizados: </p>
                            <ul class="list-inline">
                                    <li><a href="https://www.infoescola.com/exames-medicos/amniocentese/"
                                            title="Artigo sobre o exame conhecido como Amniocentese, quando é requerido, casos especiais, como é o procedimento, etc.">Amniocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia/"
                                            title="Artigo sobre a Angiografia, o que é e quais são os procedimentos para a sua realização, preparação, quando é requisitado, etc.">Angiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-coronaria/"
                                            title="Artigo sobre a Angiografia coronária, ou angiografia do coração, o que é e como é feita, em que casos é necessário este exame médico, etc.">Angiografia
                                            coronária</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/angiografia-pulmonar/"
                                            title="Página sobre a chamada Angiografia pulmonar, como é feito esse exame médico, quais problemas podem ser detectados, entre outras informações.">Angiografia
                                            pulmonar</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/antibiograma/"
                                            title="Artigo sobre o Antibiograma, o que é e como é feito este teste de laboratório, para que serve, etc.">Antibiograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/anuscopia/"
                                            title="Artigo sobre a Anuscopia, quando este tipo de exame pode ser requerido, como é o procedimento, etc.">Anuscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/medicina/broncoscopia/"
                                            title="Artigo sobre a Broncoscopia, como é realizado esse procedimento, em que casos é necessário o exame de Broncoscopia, etc.">Broncoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/campimetria/"
                                            title="Artigo sobre o exame chamado Campimetria, como é realizada a medição e avaliação do campo visual de uma pessoa, máquinas e equipamentos utilizados, etc.">Campimetria</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cardiotocografia/"
                                            title="Artigo sobre o exame chamado de Cardiotocografia, para que serve, como é realizado, importância, entre outras informações.">Cardiotocografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/cardiologia/cateterismo-cardiaco/"
                                            title="Artigo sobre o Cateterismo cardíaco, como é realizado este procedimento, técnicas, em que casos é necessário, cuidados, etc.">Cateterismo
                                            cardíaco</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cisternografia/"
                                            title="Artigo sobre a Cisternografia, como é realizado esse exame, para que serve, procedimentos, entre outras informações.">Cisternografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cistoscopia/"
                                            title="Artigo sobre o exame médico chamado Cistoscopia, para que é realizado, procedimentos para a uretrocistoscopia, etc.">Cistoscopia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/citometria-de-fluxo/"
                                            title="Artigo sobre a Citometria de Fluxo, o que é e como funciona, como esse exame é realizado, entre outras informações.">Citometria
                                            de Fluxo</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/clearance-de-creatinina/"
                                            title="Artigo sobre o teste chamado Clearance de Creatinina, como é realizado, seus objetivos, problemas que pode detectar, entre outras informações.">Clearance
                                            de Creatinina</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/coagulograma/"
                                            title="Artigo sobre o Coagulograma, o que é e como é realizado, valores de referência, para que serve, entre outras informações.">Coagulograma</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/colangiografia/"
                                            title="Artigo sobre a Colangiografia, quando este exame médico pode ser necessário, quais são as formas de se realizar a Colangiografia, etc.">Colangiografia</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/cordocentese/"
                                            title="Artigo sobre o exame chamado Cordocentese, como e quando deve ser realizado, procedimentos, doenças que podem ser detectadas, entre outras informações.">Cordocentese</a>
                                    </li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/densitometria-ossea/"
                                            title="Artigo sobre o procedimento chamado Densitometria Óssea, como é realizado esse exame, quando é necessário, etc.">Densitometria
                                            Óssea</a></li>
                                    <li><a href="https://www.infoescola.com/exames-medicos/dismorfismo-eritrocitario/"
                                            title="Artigo sobre Dismorfismo Eritrocitário, como é realizado esse exame, como identificar a origem do sangue na urina, entre outras informações.">Dismorfismo
                                            Eritrocitário</a></li>
                                    <li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Voltar
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>