<div style="margin-bottom: 0px;border: 40px solid rgba(0, 0, 0, 0.9);"></div>

<div class="paginaLogin" style="paginaLogin">
  <div class="card cardLogin">
    <img src="./imgs/loginUser.png" class="card-img-top">
    <div class="card-body">

      <form action="/login" method="POST">
        <h3>Login</h3>
        <div class="mb-3">
          <label for="username" class="form-label">E-mail</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="mb-3">
          <label for="usercpf" class="form-label">Senha</label>
          <input type="password" class="form-control form-login" id="usercpf" name="senha">
        </div>
        <button type="submit" class="btn btn-primary botao-entrar" >Enviar</button>
      </form>
    </div>
  </div>
  {{#if loginError}}
    <div class="alert alert-danger" role="alert">
      O e-mail ou a senha são inválidos, tente novamente!
    </div>
  {{/if}}
</div>

<style>
  .paginaLogin {
    background-image: url("./imgs/loginPhoto.jpg");
    min-height: 515px;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .cardLogin {
    border-radius: 20px;
    margin: 0px;
    position: absolute;
    top: 20%;
    left: 35%;
    margin-right: -50%;
    min-width: 400px;
    width: 18rem;
  }

  .paginaLogin img {
    max-height: 100px;
    max-width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-login{
    border-radius: 20px;
  }

  .botao-entrar{
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
  }
</style>